.no-border td{
    border: 0;
}

.blank_row
{
    height: 20px !important; /* overwrites any other rules */
    empty-cells: hide;
    border-color: white;
}

.table-hover > tbody > tr.select-row:hover > td,
.select-row > td {
    background-color: #f8f9fc;
}

.table2 {
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
  border: solid black;
}

.table2 th,
.table2 td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

.table2 thead th {
  vertical-align: bottom;
  border-bottom: 3px solid #dee2e6;
}

.table2 tbody + tbody {
  border-top: 2px solid #dee2e6;
}

.table-sm th,
.table-sm td {
  padding: 0.3rem;
}

.table-bordered2 {
  border: 1px solid #dee2e6;
}

.table-bordered2 th,
.table-bordered2 td {
  border: 1px solid black;
}

.border-bottom-black{
  border-bottom: 3px solid black;
}
table2 tr td:nth-child(2) {
  border-left: 0;
}